label,
input {
  position: relative;
  display: block !important;
  box-sizing: border-box;
}

label::after {
  content: attr(data-domain);
  position: absolute;
  top: 5px;
  right: 15px;
  color: #273133;
}

label::before {
  content: attr(data-symbol);
  top: 5px;
  position: absolute;
  z-index: 9;
  left: 10px;
  font-size: 18px;
}
